<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="swyfftAuto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>

    <add key="ChromeDriver" value="..\..\..\ChromeDriver\" />

    <add key="ExchangeServer" value="TestEmail"/>
    <add key="ToAddress" value="TestEmail"/>
    <add key="FromAddress" value="TestEmail"/>

    <add key="sourcePath" value="C:\Users\admin\Downloads" />
    <add key="targetPath" value="C:\SwyfftFile" />

    <add key="LogFilePath" value="C:\SwyfftAuto\LogsIns\Log1.txt"/>
    <add key="username" value="dusty.meador@thegosolution.com" />
    <add key="password" value="77092Tg$" />

    <!--Sales force credentials-->
    <add key="SalesForceUserName" value="dnyanesh.gawali@tgssanbox.com"/>
    <!--<add key="SalesForcePsw" value="Tgssandbox123$"/>-->
    <add key="SalesForcePsw" value="tgs@2021"/>
    <add key="SalesForceToken" value="woAvL8n7nIsRK4Ae4nYyYM10"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <swyfftAuto.Properties.Settings>
      <setting name="swyfftAuto_com_salesforce_enterprise_SforceService"
        serializeAs="String">
        <value>https://test.salesforce.com/services/Soap/c/51.0/0DFe0000000CbmQ</value>
      </setting>
    </swyfftAuto.Properties.Settings>
  </applicationSettings>
</configuration>